<div class="text-center">
	<% if service_provider_signed_in? %>
	<h1>New Service</h1>
	<%= render 'form' %>
	<% else %>
	<h1> This page is only for service providers, click below to go back </h1>
	<% end %>
	<%= link_to 'Back', services_path %>
</div>