<% provide(:title, 'Home') %>
<body id="page-top">
	<header>
		<div class="header-content">
			<div class="header-content-inner">
			<h1 id="homeHeading">Welcome to the party</h1>
				<hr>
				<p>Let's build you an unforgettable party!</p>
				<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
			</div>
		</div>
	</header>
</body>