<% provide(:title, 'Home') %>
<body id="page-top">
	<header>
		<div class="header-content">
			<div class="header-content-inner">
			<h1 id="homeHeading">Welcome to the party</h1>
				<hr>
				<p>Let's build you an unforgettable party!</p>
				<a href="#about" class="btn btn-primary btn-xl page-scroll">Let's Go!</a>
			</div>
		</div>
	</header>
	<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr>
                    <p class="text-faded">House Party, Corporate Party, Birthday Party and Weddings, at thePartyApp we help you build a party without you having to go around contacting people, we will make the reservations for you.</p>
				<a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Let's get started</a>
                </div>
            </div>
        </div>
    </section>
</body>