<% provide(:title, "Registrations") %>
<!DOCTYPE html>
<html>
<body>
	<section id="home" data-type="background" data-speed="10">
		<article>
			<h1 class="text-center element" style="color:orange;padding-bottom:250px;border-color:red">How Does It Work?
			</h1>               
		</article>
		</section>   

		<section id="about" data-type="background" data-speed="10">
			<article>
				<div class="col-md-6" >
					<a href="/users/sign_in">
						<div class="nice-box">
						<p class="element"> User</p>
						</div>
					</div>
				</a>
				<div class="col-md-6">
					<a href="/service_providers/sign_in">
						<div class="nice-box">
						<p class="element">Service Providers</p>
						</div>	
					</a>
				</div>
			</article>
		</section>
	</body>
	</html>