/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap_and_overrides
 */
 html, body, h1{
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #c79dd7;
  padding-top: 10px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  margin-top: 50px;
}

hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}

.top-head {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 75px;
  color: #525798;
  font-weight: 300;
}
/* Registration Pages styles */
.input {
  width: 75%;
  height: 50px;
  display: block;
  margin: 0 auto 15px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
}
.input:focus {
  outline: none;
  border-bottom-color: #ff005a !important;
}
.input:hover {
  border-bottom-color: #dcdcdc;
}
.input:invalid {
  box-shadow: none;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
  border-radius: 5px;
  position: relative;
  width: 85%;
  height: 50px;
  display: block;
  margin: 30px auto 30px;
  color: white;
  background-color: #5d005e;
  border: none;
  -webkit-box-shadow: 0 5px 0 #ff005a;
  -moz-box-shadow: 0 5px 0 #ff005a;
  box-shadow: 0 5px 0 #ff005a;
}
.inputButton:hover {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 #bf0060;
  -moz-box-shadow: 0 3px 0 #bf0060;
  box-shadow: 0 3px 0 #bf0060;
}
.inputButton:active {
  top: 5px;
  box-shadow: none;
}
.inputButton:focus {
  outline: none;
}
.field{
  padding-left: 23px;
}

#logbox{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
#logbox h1{
  font-size: 50px;
  text-align: center;
}
.add_pad{
  margin: 0 auto 15px;
  padding-left: 90px;
}
.field{
  padding-left: 90px;
}

.navbar-fixed-top .nav .a {
  padding: 15px 0;
  color: white;
}

.navbar-fixed-top .navbar-brand .a {
  padding: 0 15px;
}

@media(min-width:768px) {
  body {
    padding-top: 10px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  }

  .navbar-fixed-top .navbar-brand .a {
    padding: 15px 0;
  }
}

.navbar {
  opacity: 0.8;
}

.navbar ul{ 
  color: black; 
  opacity: 1.0;
} 

.navbar-brand{
  opacity: 1.0;
}

section {
  padding: 100px 0;
  margin-top: 100px;
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: image-url('header.jpg');
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    position: relative;f
    text-align: center;
    padding: 200px 15px 100px;
    width: 100%;
    min-height: 100%;
  }
  header .header-content {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-heading {
  margin-top: 0;
}

.btn-primary {
  color: black;
  background-color:   #870066;
  border-color:   #870066;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #5d005e;
  border-color: #5d005e;
}

.btn {
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
}
a:visited{
  color: white;
}