/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap_and_overrides
 */

 html, body, h1{
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #c79dd7;
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  margin-top: 50px;
}

.top-head {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 75px;
  color: #525798;
  font-weight: 300;
}
/* Registration Pages styles */
.input {
  width: 75%;
  height: 50px;
  display: block;
  margin: 0 auto 15px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
}
.input:focus {
  outline: none;
  border-bottom-color: #ff005a !important;
}
.input:hover {
  border-bottom-color: #dcdcdc;
}
.input:invalid {
  box-shadow: none;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
  border-radius: 5px;
  position: relative;
  width: 85%;
  height: 50px;
  display: block;
  margin: 30px auto 30px;
  color: white;
  background-color: #5d005e;
  border: none;
  -webkit-box-shadow: 0 5px 0 #ff005a;
  -moz-box-shadow: 0 5px 0 #ff005a;
  box-shadow: 0 5px 0 #ff005a;
}
.inputButton:hover {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 #bf0060;
  -moz-box-shadow: 0 3px 0 #bf0060;
  box-shadow: 0 3px 0 #bf0060;
}
.inputButton:active {
  top: 5px;
  box-shadow: none;
}
.inputButton:focus {
  outline: none;
}
.field{
  padding-left: 23px;
}

#logbox{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
#logbox h1{
  font-size: 50px;
  text-align: center;
}
.add_pad{
  margin: 0 auto 15px;
  padding-left: 90px;
}
.field{
  padding-left: 90px;
}

.navbar-fixed-top .nav .a {
  padding: 15px 0;
  color: white;
}

.navbar-fixed-top .navbar-brand .a {
  padding: 0 15px;
}

@media(min-width:768px) {
  body {
    padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  }

  .navbar-fixed-top .navbar-brand .a {
    padding: 15px 0;
  }
}

.navbar {
  opacity: 0.8;
}

.navbar ul{ 
  color: black; 
  opacity: 1.0;
} 

.navbar-brand{
  opacity: 1.0;
}

