
    <footer class="footer-bs">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<h2>Logo</h2>
                <p>The party app is a collection of services helping you make the most epic party ever at the comfort of your home!</p>
                <p>The Party App © 2016, All rights reserved</p>
            </div>
        	<div class="col-md-4 col-sm-4 footer-nav animated fadeInUp">
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-2 col-sm-4 footer-social animated fadeInDown">
            	<h4>Follow Us</h4>
            	<ul>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram</a></li>
                	<li><a href="#">RSS</a></li>
                </ul>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Newsletter</h4>
                <p>Don't worry, we won't spam you :)</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Email...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Sign Up</button>
                      </span>
                    </div><!-- /input-group -->
                    <br><%= link_to "Work with us",new_service_provider_registration_path %>
                 </p>
            </div>
        </div>
    </footer>
